# Erlang
*.beam
*.cache
*.dep
*.dll

*.app

*build*

*.exe
*.exe.*
*.idb
*.ilk
*.lastbuildstate
*.log
*.manifest
*.ncb
*.o
*.d
*.o.d
*.obj
*.opensdf
*.pch
*.pdb
*.pyc
*.res
*.sdf
*.tlog
*.suo
*BuildLog.htm
*~
*.ipch
